<h1>Posts</h1>

<% @posts.each do |post| %>
<ul>
  <li><%= post.description %></li>
  <li><%= post.score_id %></li>
  <li><%= post.location %></li>
  <li><%= post.food_type.title %></li>
  <li><%= post.price %></li>
  <li><%= post.num_meals %></li>
  <li><%= post.image_url %></li>
</ul>
<% end  %>
