<h1><%= @post.description %></h1>

<li><%= @post.score_id %></li>
<li><%= @post.location %></li>
<li><%= @post.food_type.title %></li>
<li><%= @post.price %></li>
<li><%= @post.num_meals %></li>
<li><%= @post.image_url %></li>

<%= button_to "Like", post_likes_url(@post), method: "post" %>

<br>
Likes:
<% @post.likes.each do |like| %>
<li><%= like.author.first_name %><br></li>
<%= button_to "Unlike", post_like_url(@post, like), method: "delete" %>
<% end %>

<br>
Comments:
<% @post.comments.each do |comment| %>
<li><%= comment.content %></li>
<br>
<%= button_to "Delete Comment", post_comment_url(@post, comment), method: "delete" %>
<br>
<% end %>

<a href="/posts/<%= @post.id %>/comments/new">Add Comment</a>
