<h1><%= @post.description %></h1>

<li><%= @post.score_id %></li>
<li><%= @post.location %></li>
<li><%= @post.food_type.title %></li>
<li><%= @post.price %></li>
<li><%= @post.num_meals %></li>
<li><%= @post.image_url %></li>
