<h1><%= post.escape('description') %></h1>

<li><%= post.escape('score_id') %></li>
<li><%= post.escape('location') %></li>
<li><%= post.escape('food_id') %></li>
<li><%= post.escape('price') %></li>
<li><%= post.escape('num_meals') %></li>
<li><%= post.escape('image_url') %></li>

<button name="button">Like</button>


<button name="button">Unlike</button>



<button name="button">Delete Comment</button>


<button name="button">Add Comment</button>
