<h1><%= post.escape('description') %></h1>

  <% if (post.get("owner_id") === LsFinalproject.currentUser.id) { %>
    <button id="delete-post" name="button">Delete Post</button>
    <a href='#/posts/<%= post.id %>/edit'>Edit Post</a>
  <% } %>

<ul>


<img src="<%= post.escape('picture_url') %>"/>

<li>Author: <%= post.escape('author_name') %></li>
<img src="<%= post.escape('author_picture_url') %>"/>

<li>Score: <%= post.escape('score_id') %></li>
<li>Location: <%= post.escape('location') %></li>
<li>Food Category: <%= post.get('food_type').title %></li>
<li>Price: $<%= post.escape('price') %></li>
<li>Quantity of meals: <%= post.escape('num_meals') %></li>
<li>Likes: <%= post.likes().length %></li>

<% if (post.get("is_liked_by_current_user")) { %>
  <button id="unlike-button" name="button" data-id="<%= post.get('like_of_current_user') %>">Unlike</button>
<% } else { %>
  <button id="like-button" name="button">Like</button>
<% } %>

<li>Comments:

  <ul>
  <% post.comments().each(function (comment) { %>
    <li>
    <%= comment.get("author_name") %>:
    <%= comment.escape("content") %>
    <% if (comment.get("is_written_by_current_user")) { %>
      <button id="uncomment-button" name="button" data-id="<%= comment.id %>">Remove Comment</button>
    <% } %>
    </li>
  <% }) %>
  </ul>

</li>

<button id="comment-button" name="button">Add Comment</button>

</ul>
