<div class="modal">

    <form class="modal-form">

            <% if (post.isNew()) { %>
              <h1>New Post</h1>
            <% } else { %>
              <h1>Edit Post</h1>
            <% }; %>

      <span class="modal-close js-modal-close">&times;</span>

      <li>
        <label for="description">Description</label>
        <input id="description" type="text" name="description" value="<%= post.escape('description') %>">
      </li>

      <li>
        <label for="location">Location</label>
        <input id="location" type="text" name="location" value="<%= post.escape('location') %>">
      </li>

      <li>
        <label for="food_id">Food Type</label>
        <select id="food_id" name="food_id">
            <% _.each(LsFinalproject.all_food_types, function(foodType) { %>
                <option value="<%= foodType.id %>">
                  <%= foodType.title %>
                </option>
            <% }) %>
        </select>
      </li>

      <li>
        <label for="price">Price</label>
        <input id="price" type="decimal" name="price"  value="<%= post.escape('price') %>" pattern="^\\$?(([1-9](\\d*|\\d{0,2}(,\\d{3})*))|0)(\\.\\d{1,2})?$">
      </li>

      <li>
        <label for="score_id">Score</label>
        <div id="score_id" class="rating">
        <span data-id="5" class="score">
          <% if (numStars >= 5) { %>
            ★
          <% } else { %>
            ☆
          <% }; %>
        </span>
        <span data-id="4" class="score">
          <% if (numStars >= 4) { %>
            ★
          <% } else { %>
            ☆
          <% }; %>
        </span>
        <span data-id="3" class="score">
          <% if (numStars >= 3) { %>
            ★
          <% } else { %>
            ☆
          <% }; %>
        </span>
        <span data-id="2" class="score">
          <% if (numStars >= 2) { %>
            ★
          <% } else { %>
            ☆
          <% }; %>
        </span>
        <span data-id="1" class="score">
          <% if (numStars >= 1) { %>
            ★
          <% } else { %>
            ☆
          <% }; %>
        </span>
        </div>
      </li>

      <li>
        <label for="qty">Quantity of meals provided</label>
        <input id="qty" type="number"  value="<%= post.escape('num_meals') %>" name="num_meals">
      </li>

      <li>
        <label for="input-picture-file">Picture</label>
      	<input id="input-picture-file" type="file" name="picture">
      </li>

        <br>
      <button>Submit</button>

    </form>

  <div class="modal-screen js-modal-close"></div>
</div>
