<div class="post-item-group group">

  <section class="post-author-info">

    <a href="#posts/users/<%=post.escape('owner_id')%>">
      <img src="<%= post.escape('author_picture_url') %>" id="author-image"/>
      <div id="author-name"><%= post.escape('author_name') %></div>
    </a>

  </section>

  <section class="likes">

    <div>Likes: <%= post.likes().length %></div>

  </section>

  <section class="post-center group">

    <div class="post-main group">

      <% if (post.get("owner_id") === LsFinalproject.currentUser.id) { %>
        <button id="delete-post" name="button">Delete Post</button><br>
        <button id="edit-post" name="button">Edit Post</button><br>
      <% } %>

      <h1>
        <%= post.escape('description') %>
      </h1>

      <section id="post-image">

        <img src="<%= post.escape('picture_url') %>"/>

      </section>

      <ul>

      <li id="item_score_id">Score:
          <% if (post.escape('score_id') >= 1) { %>
            <i class="fa fa-star"></i>
          <% } else { %>
            <i class="fa fa-star-o"></i>
          <% }; %>
          <% if (post.escape('score_id') >= 2) { %>
            <i class="fa fa-star"></i>
          <% } else { %>
            <i class="fa fa-star-o"></i>
          <% }; %>
          <% if (post.escape('score_id') >= 3) { %>
            <i class="fa fa-star"></i>
          <% } else { %>
            <i class="fa fa-star-o"></i>
          <% }; %>
          <% if (post.escape('score_id') >= 4) { %>
            <i class="fa fa-star"></i>
          <% } else { %>
            <i class="fa fa-star-o"></i>
          <% }; %>
          <% if (post.escape('score_id') >= 5) { %>
            <i class="fa fa-star"></i>
          <% } else { %>
            <i class="fa fa-star-o"></i>
          <% }; %>
      </li>

      <li>Food Category: <%= post.get('food_type').title %></li>
      <li>Location: <%= post.escape('location') %></li>
      <li>Price: $<%= post.escape('price') %></li>
      <li>Quantity of meals: <%= post.escape('num_meals') %></li>
      <% if (post.get("is_liked_by_current_user")) { %>
        <button id="unlike-button" name="button" data-id="<%= post.get('like_of_current_user') %>">Unlike</button>
      <% } else { %>
        <button id="like-button" name="button">Like</button>
      <% } %>
      </ul>

    </div>

      <section class="comments">

        <h3 id="comment-header">Comments:</h3>

        <ul>
        <% post.comments().each(function (comment) { %>
          <li>
          <%= comment.get("author_name") %>:
          <%= comment.escape("content") %>
          <% if (comment.get("is_written_by_current_user")) { %>
            <button id="uncomment-button" name="button" data-id="<%= comment.id %>">Remove Comment</button>
          <% } %>
          </li>
        <% }) %>

          <li>
            <button id="comment-button" name="button">Add Comment</button>
          </li>

        </ul>

      </section>

  </section>


</div>
