<section class="content-sidebar">

  <h2>Menu</h2>
  <ul class="profile-nav">

    <li>
      <a id="write-post" href="<%= '#posts/new' %>">Write Post</a>
    </li>

    <li>
      <a href="<%= '#' %>">Trends</a>
    </li>

    <li>All Users</li>

  </ul>

  <ul class="profile-thumbs group">
  <% users.each( function(friend) { %>
      <li>
        <a href="#posts/users/<%=friend.id%>" class="thumb" title="<%= friend.get("first_name") + ' ' + friend.get("last_name") %>">
          <img src="<%= friend.escape('picture_url') %>"/>
        </a>
      </li>
  <% }) %>
  </ul>

</section>

<ul class="content-main group">
  <h1 class="content-header">PostsFeed</h1>

</ul>
