<h1>Posts</h1>

<h2>Menu</h2>
<ul>

  <li>
    <a href="<%= '#posts/new' %>">Write Post</a>
  </li>

  <li>
    <a href="<%= '#' %>">Trends</a>
  </li>

  <li>
  All Users
    <ul>

    <% users.each( function(friend) { %>
        <li>
          <a href="#users/<%=friend.id%>"><%= friend.get("first_name") + ' ' + friend.get("last_name") %></a>
          <img src="<%= friend.escape('picture_url') %>"/>
        </li>
    <% }) %>

  </ul>
  </li>

</ul>
