<section class="results">

	<% if (results.length > 0) { %>

		<nav>
			<!-- Displaying page number <%= results.pageNum %> out
			of <%= results.total_count %> results -->
			Search Results
			<!-- <a class="prev-page" href="javascript:void(0)">Prev</a> -->
			<!-- <a class="next-page" href="javascript:void(0)">Next</a> -->
			<span class="modal-close js-modal-close">&times;</span>
		</nav>

		<% results.each(function (result) { %>
			<article>
				<% if (result instanceof LsFinalproject.Models.User) { %>

					<a href="#posts/users/<%= result.escape('id')%>"><%=result.escape("first_name") + ' ' + result.escape("last_name") %> →</a>

				<% }%>

				<% if (result instanceof LsFinalproject.Models.Post) { %>

					<a href="#posts/users/<%= result.escape('owner_id')%>"><%=result.escape("description") %> →</a>

				<% }%>

				<% if (result instanceof LsFinalproject.Models.Comment) { %>

					<a href="#posts/users/<%= result.escape('post_owner_id')%>"><%=result.escape("content") %> →</a>

				<% }%>

			</article>
		<% }) %>

	<% } else { %>

		<nav>
			No Search Results
			<span class="modal-close js-modal-close">&times;</span>
		</nav>


	<% }; %>

</section>




<!--  -->
