<h1><%= user.escape('first_name') %> Posts</h1>

<h2>Menu</h2>
<ul>

  <li>
    <a href="<%= '' %>">Newsfeed</a>
  </li>

  <li>
    <a href="<%= '#' %>">Trends</a>
  </li>

  <li>
  Friends<br>
  <%= user.escape('all_friends') %><br>

    <ul>

    <% user.allFriends().each( function(friend) { %>
        <li>
          <a href="#users/<%=friend.id%>"><%= friend.get("first_name") + ' ' + friend.get("last_name") %></a>
          INSERT PICTURE HERE
        </li>
    <% }) %>

    </ul>
  </li>

</ul>
