<section class="content-sidebar">

  <h2>Menu</h2>
  <ul class="profile-nav">

    <li>
      <a href="<%= '' %>">PostsFeed</a>
    </li>

    <li>Friends</li>

  </ul>

  <ul class="profile-thumbs group">
    <%= user.escape('all_friends') %><br>

    <% user.allFriends().each( function(friend) { %>
        <li>
          <a href="#posts/users/<%=friend.id%>" class="thumb" title="<%= friend.get("first_name") + ' ' + friend.get("last_name") %>">
            <img src="<%= friend.escape('picture_url') %>"/>
          </a>
        </li>
    <% }) %>
  </ul>

</section>

<ul class="content-main group">

    <div class="content-main-header group">

      <h1><%= user.escape('first_name') %>'s Posts</h1>

      <ul>

        <li>
        <% if ((user.allFriends().findWhere({id: LsFinalproject.currentUser.id}) && (user.id !== LsFinalproject.currentUser.id))) { %>
          <button id="remove-friend" name="button">Remove Friend</button>
        <% } else { %>
          <button id="add-friend" name="button">Add Friend</button>
        <% } %>
        </li>

        <li>
        <a href="" id="content-main-a">Back to Posts Feed</a>
        </li>

      </ul>

    </div>

</ul>

















<!-- -->
