<!DOCTYPE html>
<html>
<head>

  <title>FoodSpender</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="header">

    <nav class="header-nav group">
      <h3>FoodSpender</h3>

      <ul>
        <li>
        <form>Search <input type="text"></form>
        </li>

        <li>

          <% if current_user %>

            <p>
              Signed in as:
              <a href="#posts/users/<%= current_user.id %>"><%= current_user.first_name %></a>
              <button>
              <%= button_to "Sign Out", api_session_url, method: :delete %>
              </button>
            </p>

          <% end %>

        </li>
      </ul>

    </nav>

  </header>

<%= yield %>

</body>
</html>
